@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Gilroy;
    font-weight: 400;
    src: url(../../public/Fonts/Gilroy-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(../../public/Fonts/HelveticaNowText-Regular.woff2) format("woff2");
  }
}
